<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Sobre</h1>
</div>

<img src="img/tec.jpg" alt="Laptop" width="400" height="400">

<div class="pt-3">
  <p>Um site usando NodeJs, Express, MongoDB, Ubuntu 20.04 e EJS</p>
  <p>Usei o <a href="https://chat.openai.com/">Chat GPT</a> e vídeos do Youtube para me ajudar</p>
</div>

<style>
        .navbar {
            display: none;
        }
</style>
